@import url('../resources/css/commons/layout.css');
@import url('../resources/css/commons/text.css');
@import url('../resources/css/commons/misc.css');

/**
 * Lists
 */
ul {
	margin: .2em 2em;
	list-style: square;
}

li {
	margin: .2em 0;
}

ul.inline {
	margin: 0;
	list-style: none;
}

ul.inline li {
	display: inline;
	margin: 0;
}

ul.inline li:after { content: ', '; }
ul.inline li:last-child:after { content: ';'; }
dl dd:last-child ul.inline li:last-child:after { content: '.'; }




dl {
	margin: .2em 2em;
	overflow-y: auto;
}


dt {
	float: left;
	clear: left;
	width: 25%;
	color: #666666;
	font-weight: bold;
}

dd {
	float: left;
	width: 70%;
	margin-left: 1em;
}



/**
 * Project list
 */
ul.projects li {
	margin-bottom: 1em;
	list-style: none;
}

.projects .title {
	font-weight: bold;
}

.projects dt { width: 15%; }
.projects dd { width: 80%; }

.projects .summary {}
.projects .summary:before { content: ' — '; }

.projects .description {}
.projects .role {}
.projects .software {}


/**
 * Reference list
 */
ul.references {
	display: none;
}


#language, #download {
	float: right;
	clear: right;
	padding: .1em .2em;
	font-size: small;
}

#language a, #download a {
	text-transform: uppercase;
}

#fullVersion {
	text-align: center;
}

/**
 * Print specific
 */
@media print {
	@page {
		size: A4 portrait;
		margin: 0.4cm 1cm;

		@bottom-center { content: "Page " counter(page); }
	}

	body {
		margin: 0.4cm;
		font-family: Palatino Linotype, Sylfaen, sans-serif;
	}

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
	p { page-break-inside: avoid; }

	li:first-of-type, dt:first-of-type, dd:first-of-type { page-break-after: avoid; }
	ul.quals li, ul.projects li { page-break-inside: avoid; }

	a {
		border-bottom: 1px dashed;
		text-decoration: none;
	}

	#qualification a, #skills a {
		color: inherit !important;
		border-bottom: inherit !important;
	}

	/*
	#experience { page-break-before: always; }
	*/

	.experience a[href^="http"]:after {
		content: " (" attr(href) ")";
	}

	acronym, abbr {
		border: none;
	}

	.non-printable {
		display: none;
	}
}

