@CHARSET "UTF-8";

@import url('../commons/layout.css');

html, body {
	background-color: white;
}

header {
    margin-bottom: 40px;
}

article {
}

section {
    margin-top: 40px;
}

section:first-child {
    margin-top: 0;
}

footer {
    margin-top: 40px;
}
