@CHARSET "UTF-8";

@import url('../commons/text.css');

body {
	font-family: Ubuntu, "Lucida Grande", Cardana, Verdana, sans-serif;
}

h1, h2 {
	/*
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	*/
}

footer {
	font-size: .8em;
}

footer p {
	margin: 0;
}
