/**
 * Headings
 */
h1 {
	margin-top: 0;
	margin-bottom: .5em;
}

h2 {
	clear: both;
	margin-top: .8em;
	margin-bottom: .4em;
	font-variant: small-caps;
}

h3 {
	margin: .5em 1em .4em 1em;
}

h4 {
	font-size: 1em;
	font-weight: bold;
}


/**
 * General text decoration
 */
p {
	margin: .4em 0;
	/* text-align: justify; */
}

hr {
	width: 80%;
	margin: 2em auto;
	border-style: solid;
	border-width: 1px 0 0 0;
}

p, ul, dl {
	line-height: 1.4;
}

.tel,
span.nowrap {
	white-space: nowrap;
}
